@{
    ViewBag.Title = "Person - List";
}

@section SubHead
{
    <link rel="stylesheet" href="~/assets/css/lib/datatable/dataTables.bootstrap.min.css">
}

<div class="breadcrumbs">
    <div class="col-sm-4">
        <div class="page-header float-left">
            <div class="page-title">
                <h1>@ViewBag.Title</h1>
            </div>
        </div>
    </div>
    <div class="col-sm-8">
        <div class="page-header float-right">
            <div class="page-title">
                <ol class="breadcrumb text-right">
                    <li class="active">Persons</li>
                </ol>
            </div>
        </div>
    </div>
</div>


<div class="content mt-3">
    <div class="card">
        <div class="card-header">
            <strong class="card-title">Search</strong>
        </div>
        <div class="card-body">
            <div class="row form-group">
                <div class="col-4">
                    <label for="txtKeyword" class="control-label mb-1">Keyword</label>
                    <input id="txtKeyword" name="txtKeyword" type="text" class="form-control" aria-required="true" aria-invalid="false" placeholder="Enter your keyword here">
                </div>
            </div>
            <div class="form-group">
                <button id="payment-button" type="button" onclick="Refresh();" class="btn btn-success btn-sm">
                    <i class="fa fa-search fa-lg"></i>&nbsp;
                    <span id="payment-button-amount">Search</span>
                </button>
            </div>
        </div>

    </div>
    <table id="dtMain" class="table table-striped table-bordered" style="width:100%"></table>
</div>


@section SubScript{

    <script src="~/assets/js/lib/data-table/datatables.min.js"></script>
    <script src="~/assets/js/lib/data-table/dataTables.bootstrap.min.js"></script>

    <script type="text/javascript">

        $("#txtKeyword").on('keyup', function (e) {
            if (e.keyCode == 13) {
                Refresh();
            }
        });

        function Refresh() {
            $("#dtMain").DataTable().ajax.reload();
        }

        $(document).ready(function () {

            $('#dtMain').DataTable({
                "processing": true,
                "serverSide": true,
                "bFilter": false,
                "pagingType": "full_numbers",
                "ajax":
                    {
                        "type": "POST",
                        "url": "/Person/Search",
                        "contentType": 'application/json; charset=utf-8',
                        'data': function (data) {
                            data.search.value = $("#txtKeyword").val();
                            return data = JSON.stringify(data);
                        }
                    },
                "sAjaxDataProp": "data",
                "columns": [
                    {
                        "data": "Fullname",
                        "className": "left",
                        "title": "Full Name"
                    },
                    {
                        "data": "IdentityNumber",
                        "className": "left",
                        "title": "Identity Number"
                    },
                    {
                        "data": "Nationality",
                        "className": "left",
                        "title": "Nationality"
                    },
                    {
                        "data": "Company",
                        "className": "left",
                        "title": "Company"
                    },
                    { "data": "Status", "className": "left", "title": "Status", "sortable": false, },
                    {
                        "title": "Actions",
                        "sortable": false,
                        mRender: function (data, type, row) {
                            var action = "";

                            action = '<a href="/Person/View/' + row.ID + '" class="btn btn-primary btn-sm"> View </a>'

                            return action;
                        }
                    }
                ]
            });
        });</script>

}
