USE [FusionFace]
GO
/****** Object:  Table [dbo].[ApplicationMaster]    Script Date: 11/19/2018 3:53:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ApplicationMaster](
	[ID] [varchar](50) NOT NULL,
	[Name] [varchar](150) NOT NULL,
 CONSTRAINT [PK_ApplicationMaster] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DateMaster]    Script Date: 11/19/2018 3:53:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DateMaster](
	[DateID] [date] NOT NULL,
	[Year] [int] NOT NULL,
	[Month] [int] NOT NULL,
	[Day] [int] NULL,
 CONSTRAINT [PK_DateMaster] PRIMARY KEY CLUSTERED 
(
	[DateID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FunctionMaster]    Script Date: 11/19/2018 3:53:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FunctionMaster](
	[ID] [varchar](150) NOT NULL,
	[Name] [varchar](150) NOT NULL,
	[ModuleID] [varchar](50) NOT NULL,
 CONSTRAINT [PK_FunctionMaster] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GroupMaster]    Script Date: 11/19/2018 3:53:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GroupMaster](
	[ID] [uniqueidentifier] NOT NULL,
	[Name] [varchar](150) NOT NULL,
	[Description] [varchar](250) NULL,
	[CreatedAt] [datetime] NULL,
	[CreatedBy] [varchar](50) NULL,
	[ModifiedAt] [datetime] NULL,
	[ModifiedBy] [varchar](50) NULL,
	[AccessLevel] [int] NULL,
 CONSTRAINT [PK_GroupMaster] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MenuMaster]    Script Date: 11/19/2018 3:53:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MenuMaster](
	[ID] [uniqueidentifier] NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Description] [varchar](150) NOT NULL,
	[Enabled] [bit] NOT NULL,
	[Position] [int] NOT NULL,
	[ParentID] [uniqueidentifier] NULL,
	[Icon] [varchar](50) NULL,
	[FunctionID] [varchar](150) NULL,
	[Url] [varchar](250) NULL,
 CONSTRAINT [PK_MenuMaster] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ModuleMaster]    Script Date: 11/19/2018 3:53:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ModuleMaster](
	[ID] [varchar](50) NOT NULL,
	[ApplicationID] [varchar](50) NOT NULL,
	[Name] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Module] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Permission]    Script Date: 11/19/2018 3:53:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Permission](
	[ID] [uniqueidentifier] NOT NULL,
	[GroupID] [uniqueidentifier] NOT NULL,
	[FunctionID] [varchar](150) NOT NULL,
	[Enabled] [bit] NOT NULL,
 CONSTRAINT [PK_Permission] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Person]    Script Date: 11/19/2018 3:53:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Person](
	[ID] [uniqueidentifier] NOT NULL,
	[Fullname] [varchar](250) NOT NULL,
	[IdentityNumber] [varchar](50) NULL,
	[DOB] [date] NULL,
	[Nationality] [varchar](50) NULL,
	[Company] [varchar](50) NULL,
	[PhoneNumber] [varchar](50) NULL,
	[Address] [varchar](50) NULL,
	[Status] [varchar](50) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[ModifiedAt] [datetime] NOT NULL,
 CONSTRAINT [PK_Person] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Photo]    Script Date: 11/19/2018 3:53:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Photo](
	[ID] [uniqueidentifier] NOT NULL,
	[Name] [varchar](250) NOT NULL,
	[Path] [varchar](250) NULL,
	[Data] [varbinary](max) NULL,
	[PersonID] [uniqueidentifier] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
 CONSTRAINT [PK_Photo] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TransactionMaster]    Script Date: 11/19/2018 3:53:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TransactionMaster](
	[ID] [uniqueidentifier] NOT NULL,
	[TranxType] [varchar](150) NOT NULL,
	[ObjectID] [varchar](50) NOT NULL,
	[ObjectName] [varchar](150) NOT NULL,
	[RecordedDate] [datetime] NOT NULL,
	[ClientID] [varchar](50) NOT NULL,
 CONSTRAINT [PK_TransactionMaster] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TransactionSummary]    Script Date: 11/19/2018 3:53:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TransactionSummary](
	[ID] [uniqueidentifier] NOT NULL,
	[TranxType] [varchar](150) NOT NULL,
	[ClientID] [varchar](50) NOT NULL,
	[RecordedDate] [date] NOT NULL,
	[Total] [int] NOT NULL,
 CONSTRAINT [PK_TransactionSummary] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserGroup]    Script Date: 11/19/2018 3:53:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserGroup](
	[ID] [uniqueidentifier] NOT NULL,
	[UserID] [uniqueidentifier] NOT NULL,
	[GroupID] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_UserGroup] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserMaster]    Script Date: 11/19/2018 3:53:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserMaster](
	[ID] [uniqueidentifier] NOT NULL,
	[Username] [varchar](150) NOT NULL,
	[Password] [varchar](150) NOT NULL,
	[Fullname] [varchar](250) NOT NULL,
	[Email] [varchar](150) NULL,
	[Status] [varchar](10) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[LastLoginTime] [datetime] NULL,
	[LastPasswordChangeTime] [datetime] NULL,
	[CreatedAt] [datetime] NULL,
	[ModifiedAt] [datetime] NULL,
	[CreatedBy] [varchar](150) NULL,
	[ModifiedBy] [varchar](150) NULL,
	[PasswordTryCount] [int] NULL,
	[AccountBlockedExpiry] [datetime] NULL,
 CONSTRAINT [PK_UserMaster] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[ApplicationMaster] ([ID], [Name]) VALUES (N'FUSION_WEB_ADMIN', N'Fusion Web Admin')
GO
INSERT [dbo].[DateMaster] ([DateID], [Year], [Month], [Day]) VALUES (CAST(N'2018-10-01' AS Date), 2018, 10, 1)
GO
INSERT [dbo].[DateMaster] ([DateID], [Year], [Month], [Day]) VALUES (CAST(N'2018-10-02' AS Date), 2018, 10, 2)
GO
INSERT [dbo].[DateMaster] ([DateID], [Year], [Month], [Day]) VALUES (CAST(N'2018-10-03' AS Date), 2018, 10, 3)
GO
INSERT [dbo].[FunctionMaster] ([ID], [Name], [ModuleID]) VALUES (N'F.DASHBOARD.MAIN', N'Main Dashboard', N'M.DASHBOARD')
GO
INSERT [dbo].[FunctionMaster] ([ID], [Name], [ModuleID]) VALUES (N'F.GROUP.EDIT', N'Seach Group', N'M.GROUP')
GO
INSERT [dbo].[FunctionMaster] ([ID], [Name], [ModuleID]) VALUES (N'F.GROUP.SEARCH', N'Seach Group', N'M.GROUP')
GO
INSERT [dbo].[GroupMaster] ([ID], [Name], [Description], [CreatedAt], [CreatedBy], [ModifiedAt], [ModifiedBy], [AccessLevel]) VALUES (N'a93ea5c5-ecce-4a91-87af-ad8388ba1a72', N'System Admin', N'Administrators', CAST(N'2018-10-27T07:05:19.133' AS DateTime), N'system', CAST(N'2018-10-27T07:05:19.133' AS DateTime), N'system', 99)
GO
INSERT [dbo].[MenuMaster] ([ID], [Name], [Description], [Enabled], [Position], [ParentID], [Icon], [FunctionID], [Url]) VALUES (N'f33de7df-b83e-4d04-9923-1d90930dd43f', N'Users', N'Manage Users', 1, 901, N'1d60228b-164d-452a-abb0-258f0edc3658', N'fa-id-badge', N'F.USER.SEARCH', N'/User/Index')
GO
INSERT [dbo].[MenuMaster] ([ID], [Name], [Description], [Enabled], [Position], [ParentID], [Icon], [FunctionID], [Url]) VALUES (N'1d60228b-164d-452a-abb0-258f0edc3658', N'Administration', N'Administration', 1, 9, NULL, N'fa-puzzle-piece', NULL, NULL)
GO
INSERT [dbo].[MenuMaster] ([ID], [Name], [Description], [Enabled], [Position], [ParentID], [Icon], [FunctionID], [Url]) VALUES (N'8cce6369-a5f6-4a5a-87e0-403bd1492fc2', N'Transaction Summary', N'Transaction Summary', 1, 802, N'cac8439d-02a1-4d4c-b0cc-dd6d62a51f90', N'fa-table', N'F.REPORT.TRANSACTION.SUMMARY', N'/Report/TransactionSummary')
GO
INSERT [dbo].[ModuleMaster] ([ID], [ApplicationID], [Name]) VALUES (N'M.DASHBOARD', N'FUSION_WEB_ADMIN', N'Dashboard')
GO
INSERT [dbo].[ModuleMaster] ([ID], [ApplicationID], [Name]) VALUES (N'M.GROUP', N'FUSION_WEB_ADMIN', N'Group Management')
GO
INSERT [dbo].[ModuleMaster] ([ID], [ApplicationID], [Name]) VALUES (N'M.PERSON', N'FUSION_WEB_ADMIN', N'Person Management')
GO
INSERT [dbo].[Permission] ([ID], [GroupID], [FunctionID], [Enabled]) VALUES (N'eff47b31-717e-4ff9-9db9-078f2f212099', N'a93ea5c5-ecce-4a91-87af-ad8388ba1a72', N'F.USER.SEARCH', 1)
GO
INSERT [dbo].[Permission] ([ID], [GroupID], [FunctionID], [Enabled]) VALUES (N'34c64476-a99b-4722-9650-1a533913ce6f', N'a93ea5c5-ecce-4a91-87af-ad8388ba1a72', N'F.REPORT.TRANSACTION', 1)
GO
INSERT [dbo].[Permission] ([ID], [GroupID], [FunctionID], [Enabled]) VALUES (N'20a5e541-ae46-4d40-8b97-20d445784bdc', N'a93ea5c5-ecce-4a91-87af-ad8388ba1a72', N'F.GROUP.EDIT', 1)
GO
INSERT [dbo].[Person] ([ID], [Fullname], [IdentityNumber], [DOB], [Nationality], [Company], [PhoneNumber], [Address], [Status], [IsDeleted], [CreatedAt], [ModifiedAt]) VALUES (N'a59a4382-bfe0-46e9-b89f-d44650aaeb80', N'TRAN MINH QUAN', N'B554433', CAST(N'2018-06-01' AS Date), N'', N'', N'', N'', N'Active', 0, CAST(N'2018-06-01T16:02:18.590' AS DateTime), CAST(N'2018-06-01T16:02:18.590' AS DateTime))
GO
INSERT [dbo].[TransactionMaster] ([ID], [TranxType], [ObjectID], [ObjectName], [RecordedDate], [ClientID]) VALUES (N'a03fdfcb-c785-44a0-a44e-0039bf2400fc', N'REGISTER', N'12345678', N'NEW PERSON', CAST(N'2018-11-11T07:10:29.570' AS DateTime), N'AA')
GO
INSERT [dbo].[TransactionMaster] ([ID], [TranxType], [ObjectID], [ObjectName], [RecordedDate], [ClientID]) VALUES (N'c7802e8b-aa51-496c-bead-27b915ccae73', N'PREDICT', N'B554433', N'TRAN MINH QUAN', CAST(N'2018-11-09T17:59:52.167' AS DateTime), N'AA')
GO
INSERT [dbo].[TransactionMaster] ([ID], [TranxType], [ObjectID], [ObjectName], [RecordedDate], [ClientID]) VALUES (N'98f62adb-b7a1-437a-938c-35f6305fc330', N'PREDICT', N'B554433', N'TRAN MINH QUAN', CAST(N'2018-11-09T20:59:52.707' AS DateTime), N'AA')
GO
INSERT [dbo].[TransactionSummary] ([ID], [TranxType], [ClientID], [RecordedDate], [Total]) VALUES (N'ee613a01-272f-447a-8f50-9facc6dd6d70', N'REGISTER', N'AA', CAST(N'2018-11-11' AS Date), 1)
GO
INSERT [dbo].[TransactionSummary] ([ID], [TranxType], [ClientID], [RecordedDate], [Total]) VALUES (N'c34b0432-f7b4-477e-af39-c7ab1fa5079b', N'PREDICT', N'AA', CAST(N'2018-11-09' AS Date), 5)
GO
INSERT [dbo].[UserGroup] ([ID], [UserID], [GroupID]) VALUES (N'b177b81e-cea9-4733-921a-9202f3905835', N'f23ac54f-6760-4c25-be8e-ce2452eb4ca3', N'a93ea5c5-ecce-4a91-87af-ad8388ba1a72')
GO
INSERT [dbo].[UserGroup] ([ID], [UserID], [GroupID]) VALUES (N'a77f86fb-b54c-49d3-ad24-aa41793efe67', N'b10c639b-a6f9-427e-b90d-a0beadc14e34', N'a93ea5c5-ecce-4a91-87af-ad8388ba1a72')
GO
INSERT [dbo].[UserMaster] ([ID], [Username], [Password], [Fullname], [Email], [Status], [IsDeleted], [LastLoginTime], [LastPasswordChangeTime], [CreatedAt], [ModifiedAt], [CreatedBy], [ModifiedBy], [PasswordTryCount], [AccountBlockedExpiry]) VALUES (N'ac1ee526-15cb-41e0-bcc2-19dcdd3e737d', N'trump', N'21232f297a57a5a743894a0e4a801fc3', N'Trump', N'admin@email.com', N'ACTIVE', 0, CAST(N'2018-11-09T15:00:22.003' AS DateTime), NULL, NULL, NULL, NULL, NULL, 0, NULL)
GO
INSERT [dbo].[UserMaster] ([ID], [Username], [Password], [Fullname], [Email], [Status], [IsDeleted], [LastLoginTime], [LastPasswordChangeTime], [CreatedAt], [ModifiedAt], [CreatedBy], [ModifiedBy], [PasswordTryCount], [AccountBlockedExpiry]) VALUES (N'b10c639b-a6f9-427e-b90d-a0beadc14e34', N'obama', N'21232f297a57a5a743894a0e4a801fc3', N'Obama', N'admin@email.com', N'ACTIVE', 0, CAST(N'2018-11-09T15:00:22.003' AS DateTime), NULL, NULL, NULL, NULL, NULL, 0, NULL)
GO
INSERT [dbo].[UserMaster] ([ID], [Username], [Password], [Fullname], [Email], [Status], [IsDeleted], [LastLoginTime], [LastPasswordChangeTime], [CreatedAt], [ModifiedAt], [CreatedBy], [ModifiedBy], [PasswordTryCount], [AccountBlockedExpiry]) VALUES (N'f23ac54f-6760-4c25-be8e-ce2452eb4ca3', N'admin', N'21232f297a57a5a743894a0e4a801fc3', N'System Admin', N'admin@email.com', N'ACTIVE', 0, CAST(N'2018-11-17T16:31:37.733' AS DateTime), NULL, NULL, NULL, NULL, NULL, 0, NULL)
GO
ALTER TABLE [dbo].[FunctionMaster]  WITH CHECK ADD  CONSTRAINT [FK_FunctionMaster_ModuleMaster] FOREIGN KEY([ModuleID])
REFERENCES [dbo].[ModuleMaster] ([ID])
GO
ALTER TABLE [dbo].[FunctionMaster] CHECK CONSTRAINT [FK_FunctionMaster_ModuleMaster]
GO
ALTER TABLE [dbo].[MenuMaster]  WITH CHECK ADD  CONSTRAINT [FK_MenuMaster_FunctionMaster] FOREIGN KEY([FunctionID])
REFERENCES [dbo].[FunctionMaster] ([ID])
GO
ALTER TABLE [dbo].[MenuMaster] CHECK CONSTRAINT [FK_MenuMaster_FunctionMaster]
GO
ALTER TABLE [dbo].[ModuleMaster]  WITH CHECK ADD  CONSTRAINT [FK_ModuleMaster_ApplicationMaster] FOREIGN KEY([ApplicationID])
REFERENCES [dbo].[ApplicationMaster] ([ID])
GO
ALTER TABLE [dbo].[ModuleMaster] CHECK CONSTRAINT [FK_ModuleMaster_ApplicationMaster]
GO
ALTER TABLE [dbo].[Permission]  WITH CHECK ADD  CONSTRAINT [FK_Permission_FunctionMaster] FOREIGN KEY([FunctionID])
REFERENCES [dbo].[FunctionMaster] ([ID])
GO
ALTER TABLE [dbo].[Permission] CHECK CONSTRAINT [FK_Permission_FunctionMaster]
GO
ALTER TABLE [dbo].[Permission]  WITH CHECK ADD  CONSTRAINT [FK_Permission_GroupMaster] FOREIGN KEY([GroupID])
REFERENCES [dbo].[GroupMaster] ([ID])
GO
ALTER TABLE [dbo].[Permission] CHECK CONSTRAINT [FK_Permission_GroupMaster]
GO
ALTER TABLE [dbo].[Photo]  WITH CHECK ADD  CONSTRAINT [FK_PersonID] FOREIGN KEY([PersonID])
REFERENCES [dbo].[Person] ([ID])
GO
ALTER TABLE [dbo].[Photo] CHECK CONSTRAINT [FK_PersonID]
GO
ALTER TABLE [dbo].[UserGroup]  WITH CHECK ADD  CONSTRAINT [FK_UserGroup_GroupMaster] FOREIGN KEY([GroupID])
REFERENCES [dbo].[GroupMaster] ([ID])
GO
ALTER TABLE [dbo].[UserGroup] CHECK CONSTRAINT [FK_UserGroup_GroupMaster]
GO
ALTER TABLE [dbo].[UserGroup]  WITH CHECK ADD  CONSTRAINT [FK_UserGroup_UserMaster] FOREIGN KEY([UserID])
REFERENCES [dbo].[UserMaster] ([ID])
GO
ALTER TABLE [dbo].[UserGroup] CHECK CONSTRAINT [FK_UserGroup_UserMaster]
GO
/****** Object:  StoredProcedure [dbo].[SP_ADD_NEW_PERSON]    Script Date: 11/19/2018 3:53:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ADD_NEW_PERSON]
	@ID uniqueidentifier,
	@FullName VARCHAR(250),
	@IdentityNumber VARCHAR(50)
AS
BEGIN
	INSERT INTO [dbo].[Person]
           ([ID]
           ,[FullName]
           ,[IdentityNumber]
           ,[DOB]
           ,[Nationality]
           ,[Company]
           ,[PhoneNumber]
           ,[Address]
           ,[Status]
           ,[IsDeleted]
           ,[CreatedAt]
           ,[ModifiedAt])
     VALUES
           (@ID
           ,@FullName
           ,@IdentityNumber
           ,GETDATE()
           ,''
           ,''
           ,''
           ,''
           ,'Active'
           ,0
           ,GETDATE()
           ,GETDATE());
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ADD_NEW_PHOTO]    Script Date: 11/19/2018 3:53:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ADD_NEW_PHOTO]
	@Name VARCHAR(250),
	@Data VARBINARY(MAX),
	@PersonID UNIQUEIDENTIFIER
AS
BEGIN
	INSERT INTO [dbo].[Photo]
           ([ID]
           ,[Name]
           ,[Path]
           ,[Data]
           ,[PersonID]
           ,[IsDeleted]
           ,[CreatedAt])
     VALUES
           (NEWID()
           ,@Name
           ,''
           ,@Data --<Data, varbinary(max),>
           ,@PersonID
           ,0
           ,GetDate());
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ADD_TRANSACTION]    Script Date: 11/19/2018 3:53:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_ADD_TRANSACTION]
	@TranxType VARCHAR(150),
	@ObjectID VARCHAR(50),
	@ObjectName VARCHAR(150),
	@ClientID VARCHAR(150)
AS
BEGIN
	INSERT INTO [dbo].[TransactionMaster]
           ([ID]
           ,[TranxType]
           ,[ObjectID]
           ,[ObjectName]
           ,[RecordedDate]
           ,[ClientID])
     VALUES
           (newid()
           ,@TranxType
           ,@ObjectId
           ,@ObjectName
           ,getdate()
           ,@ClientID)
END
GO
/****** Object:  StoredProcedure [dbo].[SP_FIND_PERSON]    Script Date: 11/19/2018 3:53:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_FIND_PERSON]
	@IdentityNumber VARCHAR(50),
	@FullName VARCHAR(250)
AS
BEGIN
	SELECT * FROM Person 
	WHERE [IdentityNumber] = @IdentityNumber 
		AND [Fullname] = @FullName;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GET_ALL_PERSONS]    Script Date: 11/19/2018 3:53:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GET_ALL_PERSONS]
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT * FROM [dbo].[Person] WHERE Status = 'Active' and IsDeleted = 0;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GET_PERSON_PHOTOS]    Script Date: 11/19/2018 3:53:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GET_PERSON_PHOTOS]
	@PersonID UNIQUEIDENTIFIER
AS
BEGIN
	SELECT * FROM [Photo] 
	WHERE [PersonID] = @PersonID
	AND IsDeleted = 0;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_REFRESH_TRANSACTION_SUMMARY]    Script Date: 11/19/2018 3:53:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_REFRESH_TRANSACTION_SUMMARY]
	@SeletectedDate Date
AS
BEGIN
	DELETE [dbo].[TransactionSummary] WHERE [RecordedDate] = @SeletectedDate;
	
	INSERT INTO [dbo].[TransactionSummary]
	SELECT NEWID(), TranxType, ClientID, @SeletectedDate, COUNT(*) as TOTAL FROM [dbo].[TransactionMaster]
	WHERE RecordedDate >= @SeletectedDate AND RecordedDate < DATEADD(day,1,@SeletectedDate)
	GROUP BY TranxType, ClientID
END
GO
